<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC45jk8rL4BTiwp2vXMLtO_cZ-upsQ0_us</string>
	<key>GCM_SENDER_ID</key>
	<string>761069329191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oryxjuanita.app</string>
	<key>PROJECT_ID</key>
	<string>oryx-wallet-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>oryx-wallet-cards.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761069329191:ios:d4f642990483ad72536702</string>
</dict>
</plist>